{% args session_status, msg %}
{% include 'header.html' %}
    <!-- Main -->
    <main class="container form-container">
      <article>
        <div class="form">
          <h1>Admin Panel</h1>
          <p class="secondary">{{msg}}</p>
          <form method="post">
            <input
              autofocus="autofocus"
              type="text"
              name="user"
              placeholder="Username"
              aria-label="Login"
              autocomplete="off"
              required
            />
            <input
              type="password"
              name="pwd"
              placeholder="Password"
              aria-label="Password"
              autocomplete="off"
              required
            />
            <button type="submit" class="contrast">Login</button>
          </form>
        </div>
      </article>
    </main>
    <!-- Main -->
{% include 'footer.html' %}