{% args vars_file, session_status, water_sensor_readout, last_run_date, threshold, realy_status %}
{% include 'base_header.html' %}
          <img src="https://i.postimg.cc/9fcr6V3Q/pic.png" class="img-fluid mt-3 mx-auto d-block" alt="water pump">       
          <div class="w-auto p-3">
            <ul class="list-group">
              <li class="list-group-item list-group-item-dark text-center">Current Status:              
              {% if (realy_status) is False %}
                  Not Running
              {% elif (realy_status) is None %}
                  None (main function not running)
              {% else %}
                  Running
              {% endif %}
              </li>
              <li class="list-group-item list-group-item-dark text-center">Last Time Running: {{ last_run_date }}</li>
              <li class="list-group-item list-group-item-dark text-center">Water Sensor Readout: {{ water_sensor_readout }} - (Threshold: {{ threshold }})</li>         
              <li class="list-group-item list-group-item-dark text-center"><a href="/relayon" class="btn btn-secondary">Relay ON</a><a href="/relayoff" class="btn btn-secondary">Relay OFF</a></li>
              <li class="list-group-item list-group-item-dark text-center">
                    {% for key in (vars_file) %}
                    <p>{{key}}: {{vars_file[(key)]}}</p>
                   {% endfor %}
              </li>         
              <li class="list-group-item list-group-item-dark text-center">
              Variable:
               <form method="post">               
                   <select name="var_name">
                   {% for key in (vars_file) %}
                       <option value={{key}}>
                       {{key}}
                       </option>
                   {% endfor %}
                   </select>
                   <p><label for="new_value">New Value</label></p>
                   <p><input type="number" id="new_value" name="new_value" size="3"></p>
                 <input type="submit" value="Submit">
                </form> 
              </li>
            </ul>
          </div>
{% include 'base_footer.html' %}


